@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;

  background-color: rgb(51 65 85 / 1);

  input, textarea, select, button {
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
  }
}